@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100..900&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Nanum+Brush+Script&display=swap');

:root {
    /*--mauve: #7530e3;
    --rose: #e1afcc;
    --vert: #5dac9c;*/

    --gris-mur: #597081;
    --gris-mur-fonce: #4d6170;


    --blanc: #ffffff;
    --noir: #000000;
}

* {
    /*font-family: "Nanum Brush Script";*/
    /*font-family: "Big Shoulders Stencil Text";*/
    font-family: "Cousine";
}

h1,
.h1 {

    font-size: 70px;
    color: var(--blanc);

    font-family: "Big Shoulders Stencil Text";

    text-align: center;
    top: 50%;
}

h2,
.h2 {
    font-size: 30px;
    color: var(--vert);
}

h3,
.h3 {
    font-size: 22px;
    color: var(--noir);
}

h4,
.h4 {
    font-size: 16px;
    color: var(--noir);
}

h5,
.h5 {
    font-size: 12px;
    color: var(--mauve);
}

h6,
.h6 {
    font-size: 10px;
    color: var(--mauve);
}

p,
.p {
    font-size: 12px;
    color: var(--blanc);
}

.dialog-jeremiah {
    color: #9f8afd;
    text-decoration: underline;
    text-decoration-style: dotted;
    /*text-decoration-style: double;*/
}

/*Styles généraux*/

body {
    margin: 0%;
    padding: 0%;

    height: 10000vh;
    overflow-x: hidden;
}

.spriteSheet {
    width: 20%;
    aspect-ratio: 1/1;
    /*background-repeat: no-repeat;*/

    background-image: url("/img/img_elements_visuels/jeremiah/spritesheet_jeremiah_course.png");

    background-size: 800%;

    animation-name: spriteSheet;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    animation-timing-function: steps(8);

    /*animation-play-state: paused;*/
}

@keyframes spriteSheet {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -800% 0;
    }
}

body.is-scrolling .spriteSheet {
    animation-play-state: running;
    background-color: hotpink;
}

.spritesheet-jeremiah {
    position: absolute;

    
}

@keyframes course-jeremiah {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -800% 0;
    }
}

.spritesheet-marco {
    position: absolute;
}

.spritesheet-dice {
    position: absolute;
    background-image: url("/img/img_elements_visuels/spritesheet_dice.png");

    animation-name: dice;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);

    background-size: 400%;
}

@keyframes dice {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -400% 0;
    }
}

/*Styles dans le header*/

header {
    background-image: url(/img/img_arriere_plan/espace_background_opt_2.jpg);
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.descTitre {
    text-align: center;
    margin: 20px;
    z-index: 1;
}

.vaisseau {
    position: absolute;
    width: 15vw;
    height: auto;
}

/*appel à l'action*/

.appel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.appelAction {
    height: 55px;
    width: 30px;
    border: 2px solid var(--blanc);
    border-radius: 33%;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.appelPoint {
    height: 10px;
    width: 10px;
    background-color: var(--blanc);
    border-radius: 50%;
    z-index: 1;
}

/*Styles dans le main*/

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0%;

    background-color: var(--noir);

    border-top: red 1px solid;
    border-bottom: red 1px solid;
}

.scene {
    position: relative;
    /*height: 1080px;
    width: 1920px;*/
    aspect-ratio: 16/9;

    box-shadow: 0 0 10px 1px var(--noir);
}

@media screen and (max-aspect-ratio: 16/9) {
    .scene {
        height: auto;
        width: 100vw;
    }
}

@media screen and (min-aspect-ratio: 16/9) {
    .scene {
        height: 100vh;
        width: auto;
    }
}

.background-nom-chapitre {
    background-color: var(--noir);
    height: 100%;
    width: 100%;
    margin: 0%;
    z-index: 9;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*.bnc{
    position: absolute;
    background-color: var(--noir);
    height: 100vh;
    width: 100vw;
    margin: 0%;
    padding: 0%;
    opacity: 0;

    z-index: 2;
}*/

/*.bnc1, .bnc2, .bnc3, .bnc4, .bnc5, .bnc6{
    background-color: var(--noir);
    height: 100%;
    width: 100%;
    margin: 0%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/

.num-chap-1,
.nom-chap-1 {
    z-index: 10;
}

.dialog {
    margin: 0%;
    padding: 0%;
    border: 0;
    position: absolute;

    z-index: 2;

}



/*Chapitre 1*/

.ch1 {
    /*code que j'ai pris en ligne et légèrement modifié: https://codepen.io/josetxu/pen/VwWVKJd */
    --units: 1vmax;
    /*--brick1: #CC0000;*/
    /*--brick2: #DD0000;*/
    /*--lines: #565656;*/
    --gp-ln: 50%/calc(var(--units) * 10) calc(var(--units) * 5);
    --gp-cn: 50%/calc(var(--units) * 5) calc(var(--units) * 5);
    /*height: 100vh;*/
    background:
        repeating-conic-gradient(from 90deg at 95% 55%, var(--noir) 0% 25%, #fff0 0% 100%) var(--gp-cn),
        repeating-linear-gradient(180deg, var(--noir) 0 5%, #fff0 0 50%, var(--noir) 0 55%, var(--gris-mur-fonce) 0 100%) var(--gp-ln),
        repeating-linear-gradient(90deg, var(--gris-mur) 0 47.5%, var(--noir) 0 50%, var(--gris-mur) 0 97.5%, var(--noir) 0 100%) var(--gp-ln);
    /*le code que j'ai pris en ligne finit ici*/
}

.setting-ch1 {
    position: absolute;
    left: 0;
    height: auto;
    width: 100%;
    z-index: 1;

    /*background-image: url(/img/img_arriere_plan/scene_ch1.png);*/

    /*background-color: var(--blanc);*/
}

.ch1-line1 {
    left: 17%;
    top: 50%;
}

.ch1-line2 {
    left: 17%;
    top: 54%;
}

.ch1-line3.h2 {
    left: 17%;
    top: 54%;

    opacity: 0;
}

.ss-j-ch1 {
    height: 20%;
    /*width: 11.3%;*/
    aspect-ratio: 1/1;

    left: 10%;
    bottom: 15%;

    z-index: 2;
}

.jeremiah-course{
    background-image: url("/img/img_elements_visuels/jeremiah/spritesheet_jeremiah_course.png");

    background-size: 800%;

    animation-name: course-jeremiah;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;

    animation-timing-function: steps(8);
}

.jeremiah-pret{
    background-image: url(/img/img_elements_visuels/jeremiah/jeremiah_pret.png);
    background-size: cover;
}

.ss-dice-ch1 {
    width: 13%;
    aspect-ratio: 1/1;

    left: 8%;
    top: 28%;

    z-index: 5;
}

.ss-m-ch1 {
    height: 20%;
    width: 11.3%;

    left: 10%;
    bottom: 9%;

    background-color: var(--noir);
    z-index: 3;
}

.marco-pre-saut,
.marco-saut,
.marco-post-saut,
.marco-kick {
    opacity: 0;
}

.jeremiah-idle,
.jeremiah-pret,
.jeremiah-dice {
    opacity: 0;
}

.spritesheet-robot {
    position: absolute;
    height: 20%;
    width: 11.3%;

    background-image: url("/img/img_elements_visuels/robots/robot_idle.png");
    background-size: cover;
    /*background-color: var(--blanc);*/
    z-index: 2;
}

.ss-robot-1 {
    position: absolute;
    height: 20%;
    width: 11.3%;

    bottom: 15%;
    right: 17%;

    
    z-index: 2;
}

.ss-robot-2 {
    position: absolute;
    height: 20%;
    width: 11.3%;

    bottom: 8%;
    right: 15%;

    
    z-index: 3;
}

.ss-robot-3 {
    position: absolute;
    height: 20%;
    width: 11.3%;

    bottom: 1%;
    right: 13%;

    
    z-index: 4;
}

/*Chapitre 2*/

.ch2 .ch2-img {
    position: absolute;
    height: 100%;
    width: 100%;

    opacity: 0;
}

.ch2-img1 {
    z-index: 5;

    background-color: aqua;
}

.ch2-img2 {
    z-index: 4;

    background-color: hotpink;
}

.ch2-img3 {
    z-index: 3;

    background-color: red;
}

.ch2-img4 {
    z-index: 2;

    background-color: purple;
}

.ch2-img5 {
    z-index: 1;

    background-color: green;
}

.ans-19 {
    position: absolute;

    left: 50%;
    top: 50%;

    z-index: 8;
}

/*Chapitre 3*/

/*Chapitre 4*/

/*Chapitre 5*/

/*Chapitre 6*/